<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.whg.whirc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />"
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service 
            android:name="no.whg.whirc.helpers.ConnectionService"
            android:exported="false" />
        <activity
            android:name="no.whg.whirc.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.whg.whirc.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="no.whg.whirc.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.whg.whirc.MainActivity" />
        </activity>
    </application>

</manifest>
